<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from: <a href="mailto:<%= @user.email %>?subject=Hello <%= @user.first_name %>"><%= @user.email %></a></h1>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
