<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Message de: <%= @user.first_name %></h2>
    <h3><a href="mailto:<%= @user.email %>"><%= @user.email %></a></h3>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
