* {
  font-family: 'Nunito', sans-serif;
  list-style: none;
  font-size: 14px;
}

body {
  min-height: 100vh;
  background-color: #F7F8F9;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  font-weight: 300;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
