/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-page-wrapper {
  margin-top: 40px;
  height: calc(100% - 100px);
}

.fullscreen-wrapper {
  height: 100%;
  .fullscreen-scroll {
  }

  .fullscreen-map {
    overflow: hidden;
    height: 100%;
  }
}

#map {
  position: fixed !important;
}

.search-bar-link {
  color: $gray;
  &:hover, &:focus {
    color: #666;
  }
}

// Media queries

@media (max-width: 575px) {
  #map {
    position: relative !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #map {
    position: relative !important;
  }
}
