/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-page-wrapper {
}

.fullscreen-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  .fullscreen-scroll {
    display: table-cell;
    width: 60%;
  }

  .fullscreen-map {
    display: table-cell;
    width: 40%;
    position: relative;
    overflow: hidden;
    height: 100%;
    .map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.search-bar-link {
  color: $gray;
  &:hover, &:focus {
    color: #666;
  }
}


