<p>hello there! inbox</p>

<p>request to self</p>
<% @requests_to_self.each do |request| %>
  <%= request %>
<% end %>

<p>request to others</p>
<% @requests_to_others.each do |request| %>
  <%= request %>
<% end %>
