<% if @albums.exists? %>
  <div class="card" id="gallery">
    <ul id="light-slider">
      <% @albums.first.photos.each do |photo| %>
        <li data-thumb=<%= cl_image_path(photo.public_id) %>><%= cl_image_tag photo.path, aspect_ratio: "16:9", crop: "lpad", gravity: "center", height: 350 %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="card" id="gallery">
    <h4 class="text-center"><%= t("gallery.no_galleries") %></h4>
  </div>
<% end %>
