<% album.photos.each do |photo| %>
  <li data-thumb=<%= cl_image_path(photo.public_id) %>><%= cl_image_tag photo.path, aspect_ratio: "16:9", crop: "lpad", gravity: "center", height: 350 %></li>
<% end %>
