<div id="#reviews">
  <div class=" card card-review review">
    <div class="review-comment">
      <p>Comment:</p>
      <% raise %>
      <%= request.get_review.comment %>
    </div>
  </div>
  <div class="review-info">
    <div class="review-author">
      <%= link_to "#{request.client.first_name}" %>
    </div>
    <div class="review-rating">
      <i class="fa fa-star star-review"></i> <%= request.get_review.rating %>
    </div>
  </div>
</div>

