.title-edit-page{
  color: $red-primary;
}

.btn-facebook{
  background: #3b5998;
  color: white;
  &:hover {
    color: white;
    background-color: darken(#3b5998, 10%);
  }
}

.btn-google{
  background: #ea4335;
  color: white;
  &:hover {
    color: white;
    background-color: darken(#ea4335, 10%);
  }
}
