.inbox-wrapper{
  .nav{
    margin-top: 20px;
  }
  .margin-bottom{
    margin-bottom: 10px;
  }
  .status-accepted{
    color: $green;
  }
  .status-rejected{
    color: $red-primary;
  }
}

.add-review-inbox {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#card-booking{
  position: relative;
}

#review_rating {
  padding: 5px;
}

.star-review {
  color: $red-primary;
}
