.inbox-wrapper{
  .nav{
    margin-top: 20px;
  }
  .status-accepted{
    color: $green;
  }
  .status-rejected{
    color: $red-primary;
  }
}

.tab-content .card {
  border: 1px solid #ddd;
  &:first-child {
    border-top: none;
  }
}

.card-inbox .btn {
  width: 100%;
}

#messages .card {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}

.add-review-inbox {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#review_rating {
  padding: 5px;
}

.star-review {
  color: $red-primary;
}
