.date-selection {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: $brand-primary;
}

.user-picture {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.user-fullname {
  margin-bottom: 10px;
  b {
    font-size: 18px;
  }
}

.user-address {
  color: #888;
}

.reviews {
  display: flex;
  .add-review {
    margin-top: 15px;
  }
}

.ratings {
  .fa {
    color: $red-primary;
  }
}

.greyed-out-link {
  * {
   color: #bbb;
  }
  &:hover {
    * {
      color: #888;
    }
  }
}
