.date-selection {
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-group.date {
  width: 100%;
  .input-group-addon {
    display: none;
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom {
  position: static;
  box-shadow: none;
  border: 2px solid #e9e9e9;
  border-radius: 0;
  width: 100%;
  &:before {
    display: none;
    border: none;
  }
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: $brand-primary;
}

.user-picture {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.user-fullname {
  margin-bottom: 10px;
  b {
    font-size: 18px;
  }
}

.user-address {
  color: #888;
}

.reviews {
  display: flex;
}

.add-review {
  margin: 15px 0px;
}

.ratings {
  .fa {
    color: $red-primary;
  }
}

.greyed-out-link {
  * {
   color: #bbb;
  }
  &:hover {
    * {
      color: #888;
    }
  }
}
