<nav class="navbar">
  <div class="logo-group text-center">
    <%= image_tag "logo_dualtone.png", class: "navbar_logo" %>
  </div>

  <div class="avatar-group">
    <div class="avatar-round">
      <%= image_tag "quan_avatar.jpg" %>
    </div>
    <p class="avatar-name">Quan</p>
    <a href="" class="avatar-dropdown"><i class="fa fa-sort-down"></i></a>
  </div>
</nav>
